/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}
.td-related-title .td-related-right {
  display: none;
}

/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-orange.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}
.td-header-top-menu a[title='OK'] {
  filter: brightness(0) invert(1);
}
.td-header-top-menu a[title='OK']:hover {
  filter: none;
}
/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}
.footer-social-wrap a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}
.footer-social-wrap a[title='OK']:hover {
  width: 32px;
  height: 32px;
  background-color: #ee8208;
  border-radius: 3px;
}
.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}
.td-menu-socials {
  display: flex;
}
.td-mobile-container .td-menu-socials .span-ok-mobile a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

/* Telegram channel floating button */
.telegram-button {
  line-height: 16px;
  text-align: left;
  position: fixed;
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
  left: 0;
  bottom: 23px;
  background-color: #fff;
  color: grey;
  border-radius: 0 25px 25px 0;
  z-index: 999;
}
.telegram-icon {
  width: 36px;
  margin-right: 4px;
}

/* hide post views counter */
.td-post-views {
  display: none;
}
/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing*/
#socialSharingButtons {
  margin-bottom: 30px !important;
}

// Country specific styles
// $countries: vietnam, nepal, thailand, philippines, japan, china, cambodia,
//   sri-lanka, india, singapore, malaysia, korea;

$countries: (
  vietnam: (
    base-color: rgba(104, 215, 88, 1),
    light-color: rgba(104, 215, 88, 0.3)
  ),
  nepal: (
    (
      base-color: rgba(77, 178, 236, 1),
      light-color: rgba(77, 178, 236, 0.3)
    )
  ),
  thailand: (
    (
      base-color: rgba(187, 134, 252, 1),
      light-color: rgba(187, 134, 252, 0.3)
    )
  ),
  philippines: (
    (
      base-color: rgba(3, 218, 198, 1),
      light-color: rgba(3, 218, 198, 0.3)
    )
  ),
  japan: (
    (
      base-color: rgba(255, 204, 204, 1),
      light-color: rgba(255, 204, 204, 0.3)
    )
  ),
  china: (
    base-color: rgba(255, 0, 0, 1),
    light-color: rgba(255, 0, 0, 0.3)
  ),
  cambodia: (
    base-color: rgba(255, 255, 0, 1),
    light-color: rgba(255, 255, 0, 0.3)
  ),
  sri-lanka: (
    base-color: rgba(255, 102, 51, 1),
    light-color: rgba(255, 102, 51, 0.3)
  ),
  india: (
    base-color: rgba(255, 153, 51, 1),
    light-color: rgba(255, 153, 51, 0.3)
  ),
  singapore: (
    base-color: rgba(255, 0, 102, 1),
    light-color: rgba(255, 0, 102, 0.3)
  ),
  malaysia: (
    base-color: rgba(0, 204, 255, 1),
    light-color: rgba(0, 204, 255, 0.3)
  ),
  korea: (
    base-color: rgba(255, 153, 255, 1),
    light-color: rgba(255, 153, 255, 0.3)
  )
);

@each $country, $colors in $countries {
  .#{$country} .td-post-content p a,
  .#{$country} .td-post-content li a,
  .#{$country} .td-post-content p a:visited,
  .#{$country} .td-post-content li a:visited {
    border-bottom: 5px solid map-get($colors, base-color);
    text-decoration: none !important;
    color: #424242;
  }
  .#{$country} .td-post-content p a:hover,
  .#{$country} .td-post-content li a:hover,
  .#{$country} .td-post-content p a:active,
  .#{$country} .td-post-content li a:active {
    text-decoration: none !important;
    border-bottom: 5px solid map-get($colors, light-color);
  }
}
