/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}

.td-related-title .td-related-right {
  display: none;
}

/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-orange.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=OK] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=OK]:hover {
  filter: none;
}

/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

/*button zen*/
/*zen-header*/
.td-header-top-menu a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=ZEN] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=ZEN]:hover {
  filter: none;
}

/*zen-footer*/
.span-zen {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

.footer-social-wrap a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}

.footer-social-wrap a[title=ZEN]:hover {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 3px;
}

/* zen-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-white.png");
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}

.td-menu-socials {
  display: flex;
}

/* hide post views counter */
.td-post-views {
  display: none;
}

/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing */
#socialSharingButtons {
  margin-bottom: 30px !important;
}

.vietnam .td-post-content p a,
.vietnam .td-post-content li a,
.vietnam .td-post-content p a:visited,
.vietnam .td-post-content li a:visited {
  border-bottom: 5px solid #68d758;
  text-decoration: none !important;
  color: #424242;
}

.vietnam .td-post-content p a:hover,
.vietnam .td-post-content li a:hover,
.vietnam .td-post-content p a:active,
.vietnam .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(104, 215, 88, 0.3);
}

.nepal .td-post-content p a,
.nepal .td-post-content li a,
.nepal .td-post-content p a:visited,
.nepal .td-post-content li a:visited {
  border-bottom: 5px solid #4db2ec;
  text-decoration: none !important;
  color: #424242;
}

.nepal .td-post-content p a:hover,
.nepal .td-post-content li a:hover,
.nepal .td-post-content p a:active,
.nepal .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(77, 178, 236, 0.3);
}

.thailand .td-post-content p a,
.thailand .td-post-content li a,
.thailand .td-post-content p a:visited,
.thailand .td-post-content li a:visited {
  border-bottom: 5px solid #bb86fc;
  text-decoration: none !important;
  color: #424242;
}

.thailand .td-post-content p a:hover,
.thailand .td-post-content li a:hover,
.thailand .td-post-content p a:active,
.thailand .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(187, 134, 252, 0.3);
}

.philippines .td-post-content p a,
.philippines .td-post-content li a,
.philippines .td-post-content p a:visited,
.philippines .td-post-content li a:visited {
  border-bottom: 5px solid #03dac6;
  text-decoration: none !important;
  color: #424242;
}

.philippines .td-post-content p a:hover,
.philippines .td-post-content li a:hover,
.philippines .td-post-content p a:active,
.philippines .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(3, 218, 198, 0.3);
}

.japan .td-post-content p a,
.japan .td-post-content li a,
.japan .td-post-content p a:visited,
.japan .td-post-content li a:visited {
  border-bottom: 5px solid #ffcccc;
  text-decoration: none !important;
  color: #424242;
}

.japan .td-post-content p a:hover,
.japan .td-post-content li a:hover,
.japan .td-post-content p a:active,
.japan .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 204, 204, 0.3);
}

.china .td-post-content p a,
.china .td-post-content li a,
.china .td-post-content p a:visited,
.china .td-post-content li a:visited {
  border-bottom: 5px solid red;
  text-decoration: none !important;
  color: #424242;
}

.china .td-post-content p a:hover,
.china .td-post-content li a:hover,
.china .td-post-content p a:active,
.china .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 0, 0, 0.3);
}

.cambodia .td-post-content p a,
.cambodia .td-post-content li a,
.cambodia .td-post-content p a:visited,
.cambodia .td-post-content li a:visited {
  border-bottom: 5px solid yellow;
  text-decoration: none !important;
  color: #424242;
}

.cambodia .td-post-content p a:hover,
.cambodia .td-post-content li a:hover,
.cambodia .td-post-content p a:active,
.cambodia .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 255, 0, 0.3);
}

.sri-lanka .td-post-content p a,
.sri-lanka .td-post-content li a,
.sri-lanka .td-post-content p a:visited,
.sri-lanka .td-post-content li a:visited {
  border-bottom: 5px solid #ff6633;
  text-decoration: none !important;
  color: #424242;
}

.sri-lanka .td-post-content p a:hover,
.sri-lanka .td-post-content li a:hover,
.sri-lanka .td-post-content p a:active,
.sri-lanka .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 102, 51, 0.3);
}

.india .td-post-content p a,
.india .td-post-content li a,
.india .td-post-content p a:visited,
.india .td-post-content li a:visited {
  border-bottom: 5px solid #ff9933;
  text-decoration: none !important;
  color: #424242;
}

.india .td-post-content p a:hover,
.india .td-post-content li a:hover,
.india .td-post-content p a:active,
.india .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 153, 51, 0.3);
}

.singapore .td-post-content p a,
.singapore .td-post-content li a,
.singapore .td-post-content p a:visited,
.singapore .td-post-content li a:visited {
  border-bottom: 5px solid #ff0066;
  text-decoration: none !important;
  color: #424242;
}

.singapore .td-post-content p a:hover,
.singapore .td-post-content li a:hover,
.singapore .td-post-content p a:active,
.singapore .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 0, 102, 0.3);
}

.malaysia .td-post-content p a,
.malaysia .td-post-content li a,
.malaysia .td-post-content p a:visited,
.malaysia .td-post-content li a:visited {
  border-bottom: 5px solid #00ccff;
  text-decoration: none !important;
  color: #424242;
}

.malaysia .td-post-content p a:hover,
.malaysia .td-post-content li a:hover,
.malaysia .td-post-content p a:active,
.malaysia .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(0, 204, 255, 0.3);
}

.korea .td-post-content p a,
.korea .td-post-content li a,
.korea .td-post-content p a:visited,
.korea .td-post-content li a:visited {
  border-bottom: 5px solid #ff99ff;
  text-decoration: none !important;
  color: #424242;
}

.korea .td-post-content p a:hover,
.korea .td-post-content li a:hover,
.korea .td-post-content p a:active,
.korea .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(255, 153, 255, 0.3);
}

/*# sourceMappingURL=style.css.map */
