/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}

.td-related-title .td-related-right {
  display: none;
}

/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-orange.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=OK] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=OK]:hover {
  filter: none;
}

/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

.footer-social-wrap a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-white.png");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}

.footer-social-wrap a[title=OK]:hover {
  width: 32px;
  height: 32px;
  background-color: orange;
  border-radius: 3px;
}

/* ok-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-white.png");
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

/*button zen*/
/*zen-header*/
.td-header-top-menu a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=ZEN] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=ZEN]:hover {
  filter: none;
}

/*zen-footer*/
.span-zen {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 2px;
}

.footer-social-wrap a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
  filter: brightness(0) invert(1);
}

.footer-social-wrap a[title=ZEN]:hover {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 3px;
  filter: none;
}

/* zen-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: bottom;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  filter: brightness(0) invert(1);
}

.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}

.td-menu-socials {
  display: flex;
}

/* hide post views counter */
.td-post-views {
  display: none;
}

/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing */
#socialSharingButtons {
  margin-bottom: 30px !important;
}

.td-top-menu-full .td-header-sp-top-widget {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 4px;
  padding-right: 4px;
}

.vietnam p a,
.vietnam p li a,
.vietnam p a:active,
.vietnam p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(104, 215, 88, 0.3) 0%, #68d758 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.vietnam p a:hover, .vietnam p a:visited,
.vietnam p li a:hover,
.vietnam p li a:visited,
.vietnam p a:active:hover,
.vietnam p a:active:visited,
.vietnam p li a:active:hover,
.vietnam p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.nepal p a,
.nepal p li a,
.nepal p a:active,
.nepal p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(77, 178, 236, 0.3) 0%, #4db2ec 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.nepal p a:hover, .nepal p a:visited,
.nepal p li a:hover,
.nepal p li a:visited,
.nepal p a:active:hover,
.nepal p a:active:visited,
.nepal p li a:active:hover,
.nepal p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.thailand p a,
.thailand p li a,
.thailand p a:active,
.thailand p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(187, 134, 252, 0.3) 0%, #bb86fc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.thailand p a:hover, .thailand p a:visited,
.thailand p li a:hover,
.thailand p li a:visited,
.thailand p a:active:hover,
.thailand p a:active:visited,
.thailand p li a:active:hover,
.thailand p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.philippines p a,
.philippines p li a,
.philippines p a:active,
.philippines p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #03dac6 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.philippines p a:hover, .philippines p a:visited,
.philippines p li a:hover,
.philippines p li a:visited,
.philippines p a:active:hover,
.philippines p a:active:visited,
.philippines p li a:active:hover,
.philippines p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.japan p a,
.japan p li a,
.japan p a:active,
.japan p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ffcccc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.japan p a:hover, .japan p a:visited,
.japan p li a:hover,
.japan p li a:visited,
.japan p a:active:hover,
.japan p a:active:visited,
.japan p li a:active:hover,
.japan p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.china p a,
.china p li a,
.china p a:active,
.china p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, red 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.china p a:hover, .china p a:visited,
.china p li a:hover,
.china p li a:visited,
.china p a:active:hover,
.china p a:active:visited,
.china p li a:active:hover,
.china p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.cambodia p a,
.cambodia p li a,
.cambodia p a:active,
.cambodia p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, yellow 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.cambodia p a:hover, .cambodia p a:visited,
.cambodia p li a:hover,
.cambodia p li a:visited,
.cambodia p a:active:hover,
.cambodia p a:active:visited,
.cambodia p li a:active:hover,
.cambodia p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.sri-lanka p a,
.sri-lanka p li a,
.sri-lanka p a:active,
.sri-lanka p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ff6633 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.sri-lanka p a:hover, .sri-lanka p a:visited,
.sri-lanka p li a:hover,
.sri-lanka p li a:visited,
.sri-lanka p a:active:hover,
.sri-lanka p a:active:visited,
.sri-lanka p li a:active:hover,
.sri-lanka p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.india p a,
.india p li a,
.india p a:active,
.india p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ff9933 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.india p a:hover, .india p a:visited,
.india p li a:hover,
.india p li a:visited,
.india p a:active:hover,
.india p a:active:visited,
.india p li a:active:hover,
.india p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.singapore p a,
.singapore p li a,
.singapore p a:active,
.singapore p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ff0066 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.singapore p a:hover, .singapore p a:visited,
.singapore p li a:hover,
.singapore p li a:visited,
.singapore p a:active:hover,
.singapore p a:active:visited,
.singapore p li a:active:hover,
.singapore p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.malaysia p a,
.malaysia p li a,
.malaysia p a:active,
.malaysia p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #00ccff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.malaysia p a:hover, .malaysia p a:visited,
.malaysia p li a:hover,
.malaysia p li a:visited,
.malaysia p a:active:hover,
.malaysia p a:active:visited,
.malaysia p li a:active:hover,
.malaysia p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.korea p a,
.korea p li a,
.korea p a:active,
.korea p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ff99ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.korea p a:hover, .korea p a:visited,
.korea p li a:hover,
.korea p li a:visited,
.korea p a:active:hover,
.korea p a:active:visited,
.korea p li a:active:hover,
.korea p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.myanmar p a,
.myanmar p li a,
.myanmar p a:active,
.myanmar p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #ffcc00 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.myanmar p a:hover, .myanmar p a:visited,
.myanmar p li a:hover,
.myanmar p li a:visited,
.myanmar p a:active:hover,
.myanmar p a:active:visited,
.myanmar p li a:active:hover,
.myanmar p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.laos p a,
.laos p li a,
.laos p a:active,
.laos p li a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, yellow 0%, #9acccc 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.laos p a:hover, .laos p a:visited,
.laos p li a:hover,
.laos p li a:visited,
.laos p a:active:hover,
.laos p a:active:visited,
.laos p li a:active:hover,
.laos p li a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

/*# sourceMappingURL=style.css.map */
