/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}

.td-related-title .td-related-right {
  display: none;
}

/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-orange.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=OK] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=OK]:hover {
  filter: none;
}

/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}

.footer-social-wrap a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-white.png");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}

.footer-social-wrap a[title=OK]:hover {
  width: 32px;
  height: 32px;
  background-color: orange;
  border-radius: 3px;
}

/* ok-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title=OK] {
  background-image: url("https://asia-today.ru/shared/img/social/ok-white.png");
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

/*button zen*/
/*zen-header*/
.td-header-top-menu a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}

.td-header-top-menu a[title=ZEN] {
  filter: brightness(0) invert(1);
}

.td-header-top-menu a[title=ZEN]:hover {
  filter: none;
}

/*zen-footer*/
.span-zen {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 2px;
}

.footer-social-wrap a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
  filter: brightness(0) invert(1);
}

.footer-social-wrap a[title=ZEN]:hover {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 3px;
  filter: none;
}

/* zen-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title=ZEN] {
  background-image: url("https://asia-today.ru/shared/img/social/zen.svg");
  background-position: bottom;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  filter: brightness(0) invert(1);
}

.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}

.td-menu-socials {
  display: flex;
}

/* hide post views counter */
.td-post-views {
  display: none;
}

/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing */
#socialSharingButtons {
  margin-bottom: 30px !important;
}

.td-top-menu-full .td-header-sp-top-widget {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 4px;
  padding-right: 4px;
}

.vietnam .td-ss-main-content a,
.vietnam .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(104, 215, 88, 0.5) 0%, rgba(104, 215, 88, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.vietnam .td-ss-main-content a:hover, .vietnam .td-ss-main-content a:visited,
.vietnam .td-ss-main-content a:active:hover,
.vietnam .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.nepal .td-ss-main-content a,
.nepal .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(77, 178, 236, 0.5) 0%, rgba(77, 178, 236, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.nepal .td-ss-main-content a:hover, .nepal .td-ss-main-content a:visited,
.nepal .td-ss-main-content a:active:hover,
.nepal .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.thailand .td-ss-main-content a,
.thailand .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(187, 134, 252, 0.5) 0%, rgba(187, 134, 252, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.thailand .td-ss-main-content a:hover, .thailand .td-ss-main-content a:visited,
.thailand .td-ss-main-content a:active:hover,
.thailand .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.philippines .td-ss-main-content a,
.philippines .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(3, 218, 198, 0.5) 0%, rgba(3, 218, 198, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.philippines .td-ss-main-content a:hover, .philippines .td-ss-main-content a:visited,
.philippines .td-ss-main-content a:active:hover,
.philippines .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.japan .td-ss-main-content a,
.japan .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 204, 204, 0.5) 0%, rgba(255, 204, 204, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.japan .td-ss-main-content a:hover, .japan .td-ss-main-content a:visited,
.japan .td-ss-main-content a:active:hover,
.japan .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.china .td-ss-main-content a,
.china .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.china .td-ss-main-content a:hover, .china .td-ss-main-content a:visited,
.china .td-ss-main-content a:active:hover,
.china .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.cambodia .td-ss-main-content a,
.cambodia .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 204, 153, 0.5) 0%, rgba(255, 204, 153, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.cambodia .td-ss-main-content a:hover, .cambodia .td-ss-main-content a:visited,
.cambodia .td-ss-main-content a:active:hover,
.cambodia .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.sri-lanka .td-ss-main-content a,
.sri-lanka .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 102, 51, 0.5) 0%, rgba(255, 102, 51, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.sri-lanka .td-ss-main-content a:hover, .sri-lanka .td-ss-main-content a:visited,
.sri-lanka .td-ss-main-content a:active:hover,
.sri-lanka .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.india .td-ss-main-content a,
.india .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 153, 51, 0.5) 0%, rgba(255, 153, 51, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.india .td-ss-main-content a:hover, .india .td-ss-main-content a:visited,
.india .td-ss-main-content a:active:hover,
.india .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.singapore .td-ss-main-content a,
.singapore .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 0, 102, 0.5) 0%, rgba(255, 0, 102, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.singapore .td-ss-main-content a:hover, .singapore .td-ss-main-content a:visited,
.singapore .td-ss-main-content a:active:hover,
.singapore .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.malaysia .td-ss-main-content a,
.malaysia .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(0, 204, 255, 0.5) 0%, rgba(0, 204, 255, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.malaysia .td-ss-main-content a:hover, .malaysia .td-ss-main-content a:visited,
.malaysia .td-ss-main-content a:active:hover,
.malaysia .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.korea .td-ss-main-content a,
.korea .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 153, 255, 0.5) 0%, rgba(255, 153, 255, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.korea .td-ss-main-content a:hover, .korea .td-ss-main-content a:visited,
.korea .td-ss-main-content a:active:hover,
.korea .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.myanmar .td-ss-main-content a,
.myanmar .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(255, 204, 0, 0.5) 0%, rgba(255, 204, 0, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.myanmar .td-ss-main-content a:hover, .myanmar .td-ss-main-content a:visited,
.myanmar .td-ss-main-content a:active:hover,
.myanmar .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

.laos .td-ss-main-content a,
.laos .td-ss-main-content a:active {
  text-decoration: none !important;
  background-image: linear-gradient(120deg, rgba(154, 204, 204, 0.5) 0%, rgba(154, 204, 204, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #424242 !important;
}
.laos .td-ss-main-content a:hover, .laos .td-ss-main-content a:visited,
.laos .td-ss-main-content a:active:hover,
.laos .td-ss-main-content a:active:visited {
  background-size: 100% 88%;
  text-decoration: none !important;
}

/*# sourceMappingURL=style.css.map */
