/* .header-banner-container {
  display: flex;
  width: 100%;
}
.header-banner-item {
  flex-grow: 1;
  text-align: center;
  margin: 12px;
}
.header-banner-item img {
  width: 90px;
  display: inline-block;
  margin: auto;
} */

/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}
.td-related-title .td-related-right {
  display: none;
}

/* Content translation for Related Articles */
.td-related-title {
  visibility: hidden;
}
.td-related-title::before {
  visibility: visible; 
  display: block;
  position: absolute; 
}

/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-orange.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}
.td-header-top-menu a[title='OK'] {
  filter: brightness(0) invert(1);
}
.td-header-top-menu a[title='OK']:hover {
  filter: none;
}
/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-right: 7px;
}
.footer-social-wrap a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}
.footer-social-wrap a[title='OK']:hover {
  width: 32px;
  height: 32px;
  background-color: #ee8208;
  border-radius: 3px;
}
.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}
.td-menu-socials {
  display: flex;
}
.td-mobile-container .td-menu-socials .span-ok-mobile a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

/* Telegram channel floating button */
.telegram-button {
  line-height: 16px;
  text-align: left;
  position: fixed;
  display: flex;
  align-items: center;
  width: 120px;
  height: 50px;
  left: 0;
  bottom: 23px;
  background-color: #fff;
  color: grey;
  border-radius: 0 25px 25px 0;
  z-index: 999;
}
.telegram-icon {
  width: 36px;
  margin-right: 4px;
}

/* hide post views counter */
.td-post-views {
  display: none;
}
/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing*/
#socialSharingButtons {
  margin-bottom: 30px !important;
}

/* Vietnam specified */
.vietnam .td-post-content p a,
.vietnam .td-post-content li a,
.vietnam .td-post-content p a:visited,
.vietnam .td-post-content li a:visited {
  border-bottom: 5px solid rgba(104, 215, 88, 0.3);
  text-decoration: none !important;
  color: #424242;
}
.vietnam .td-post-content p a:hover,
.vietnam .td-post-content li a:hover,
.vietnam .td-post-content p a:active,
.vietnam .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(104, 215, 88, 1);
}

/* Thailand specified */
.thailand .td-post-content p a,
.thailand .td-post-content li a,
.thailand .td-post-content p a:visited,
.thailand .td-post-content li a:visited {
  border-bottom: 5px solid rgba(187, 134, 252, 0.3);
  text-decoration: none !important;
  color: #424242;
}
.thailand .td-post-content p a:hover,
.thailand .td-post-content li a:hover,
.thailand .td-post-content p a:active,
.thailand .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(187, 134, 252, 1);
}

/* Nepal specified */
.nepal .td-post-content p a,
.nepal .td-post-content li a,
.nepal .td-post-content p a:visited,
.nepal .td-post-content li a:visited {
  border-bottom: 5px solid rgba(77, 178, 236, 0.3);
  text-decoration: none !important;
  color: #424242;
}
.nepal .td-post-content p a:hover,
.nepal .td-post-content li a:hover,
.nepal .td-post-content p a:active,
.nepal .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(77, 178, 236, 1);
}

/* Philippines specified */
.philippines .td-post-content p a,
.philippines .td-post-content li a,
.philippines .td-post-content p a:visited,
.philippines .td-post-content li a:visited {
  border-bottom: 5px solid rgba(3, 218, 198, 0.3);
  text-decoration: none !important;
  color: #424242;
}
.philippines .td-post-content p a:hover,
.philippines .td-post-content li a:hover,
.philippines .td-post-content p a:active,
.philippines .td-post-content li a:active {
  text-decoration: none !important;
  border-bottom: 5px solid rgba(3, 218, 198, 1);
}
