/* Fix top footer banner section */
.td-a-rec {
  display: initial;
}

/* Round scroll button */
.td-scroll-up {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 9px;
}

/*  disable autor RELATED ARTICLE */
.td-related-title .td-related-left {
  border-radius: 3px;
}
.td-related-title .td-related-right {
  display: none;
}

//
/*button odnoklassniki*/
/*odnoklassniki-header*/
.td-header-top-menu a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-orange.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}
.td-header-top-menu a[title='OK'] {
  filter: brightness(0) invert(1);
}
.td-header-top-menu a[title='OK']:hover {
  filter: none;
}
/*odnoklassniki-footer*/
.span-ok {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
}
.footer-social-wrap a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
}
.footer-social-wrap a[title='OK']:hover {
  width: 32px;
  height: 32px;
  background-color: orange;
  border-radius: 3px;
}

/* ok-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title='OK'] {
  background-image: url('https://asia-today.ru/shared/img/social/ok-white.png');
  background-position: bottom;
  background-size: 35%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: 5px;
}

//
/*button zen*/
/*zen-header*/
.td-header-top-menu a[title='ZEN'] {
  background-image: url('https://asia-today.ru/shared/img/social/zen.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 14px;
  height: 14;
}
.td-header-top-menu a[title='ZEN'] {
  filter: brightness(0) invert(1);
}
.td-header-top-menu a[title='ZEN']:hover {
  filter: none;
}

/*zen-footer*/
.span-zen {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 2px;
}
.footer-social-wrap a[title='ZEN'] {
  background-image: url('https://asia-today.ru/shared/img/social/zen.svg');
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: inline-block;
  filter: brightness(0) invert(1);
}
.footer-social-wrap a[title='ZEN']:hover {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 3px;
  filter: none;
}

/* zen-mobile */
.td-mobile-container .td-menu-socials .span-zen-mobile a[title='ZEN'] {
  background-image: url('https://asia-today.ru/shared/img/social/zen.svg');
  background-position: bottom;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  filter: brightness(0) invert(1);
}

//
.footer-social-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// Telegram button color fix
.footer-social-wrap .td-icon-telegram:hover {
  background-color: #0088cc;
}

.td-menu-socials {
  display: flex;
}

/* hide post views counter */
.td-post-views {
  display: none;
}
/*articleFooter Banner2*/
.articleFooterBanner2 {
  margin-top: 25px;
  display: block;
}

/* social-Sharing */
#socialSharingButtons {
  margin-bottom: 30px !important;
}

.td-top-menu-full .td-header-sp-top-widget {
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 4px;
  padding-right: 4px;
}

// Country specific styles
$countries: (
  vietnam: (
    base-color: rgba(104, 215, 88, 1),
    light-color: rgba(104, 215, 88, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  nepal: (
    base-color: rgba(77, 178, 236, 1),
    light-color: rgba(77, 178, 236, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  thailand: (
    base-color: rgba(187, 134, 252, 1),
    light-color: rgba(187, 134, 252, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  philippines: (
    base-color: rgba(3, 218, 198, 1),
    light-color: rgba(3, 218, 198, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  japan: (
    base-color: rgba(255, 204, 204, 1),
    light-color: rgba(255, 204, 204, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  china: (
    base-color: rgba(255, 0, 0, 1),
    light-color: rgba(255, 0, 0, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  cambodia: (
    base-color: rgba(255, 204, 153, 1),
    light-color: rgba(255, 204, 153, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  sri-lanka: (
    base-color: rgba(255, 102, 51, 1),
    light-color: rgba(255, 102, 51, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  india: (
    base-color: rgba(255, 153, 51, 1),
    light-color: rgba(255, 153, 51, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  singapore: (
    base-color: rgba(255, 0, 102, 1),
    light-color: rgba(255, 0, 102, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  malaysia: (
    base-color: rgba(0, 204, 255, 1),
    light-color: rgba(0, 204, 255, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  korea: (
    base-color: rgba(255, 153, 255, 1),
    light-color: rgba(255, 153, 255, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  myanmar: (
    base-color: rgb(255, 204, 0, 1),
    light-color: rgb(255, 204, 0, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  ),
  laos: (
    base-color: rgba(154, 204, 204, 1),
    light-color: rgba(154, 204, 204, 0.5),
    accent-color: rgba(255,255,0, 0.5)
  )
);

@each $country, $colors in $countries {
  .#{$country} p a,
  .#{$country} p li a,
  .#{$country} p a:active,
  .#{$country} p li a:active {
    text-decoration: none !important;
    background-image: linear-gradient(
      120deg,
      map-get($colors, light-color) 0%,
      map-get($colors, light-color) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
      color: #424242 !important;
      
      &:hover,
      &:visited {
        background-size: 100% 88%;
        text-decoration: none !important;
    }
  }
}
